---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Pagetitle from "@components/pagetitle.astro";
import Link from "@components/ui/link.astro";
import {
  TwitterIcon,
  ArrowIcon,
  GitHubIcon,
  LinkedinIcon,
} from "@components/icons";
---

<Layout title="About">
  <Container>
    <Pagetitle>
      <Fragment slot="title">About</Fragment>
      <Fragment slot="desc">I am Syed Muzamil. And this is my blog</Fragment>
    </Pagetitle>

    <div class="mx-auto max-w-xl text-left mt-14">
      <section class="my-4">
        <h2 class="text-2xl font-bold text-gray-800 mb-2">Introduction</h2>
        <p class="text-lg leading-relaxed text-gray-600">
          Hello, I'm Syed Muzamil. I'm a FullStack Developer working with
          technologies like Reactjs, Nodejs, Express, Mongodb, Flutter, and also
          some AWS technologies like S3, EC2, and others. I am currently working
          at <a
            class="text-blue-400 underline cursor-pointer"
            target="__blank"
            href="https://www.wealthup.me">wealthup</a
          > as a Full Stack Developer .
        </p>
      </section>
      <section class="my-4">
        <h2 class="text-2xl font-bold text-gray-800 mb-2">Topics Covered</h2>
        <p class="text-lg leading-relaxed text-gray-600">
          The articles will mainly cover the topics that I already know well, as
          well as those that I am learning. Most of the articles will be about
          Web Development, but I will also cover some articles about Data
          Structures and Algorithms.
        </p>
      </section>
      <section class="my-4">
        <h2 class="text-2xl font-bold text-gray-800 mb-2">Expertise</h2>
        <p contenteditable="true" class="text-lg leading-relaxed text-gray-600">
          As a 2nd year undergraduate student, I have experience with ReactJs,
          NodeJs, MongoDB, and some other technologies that I learned on my own.
          I have also worked as a Web Developer for more than 2 years.
        </p>
      </section>
      <div class="mt-4 flex flex-col gap-2 md:flex-row md:gap-2">
        <a
          rel="noopener noreferrer"
          target="_blank"
          href="https://twitter.com/syedmuzamilm"
          class="flex w-full border border-neutral-200 dark:border-neutral-800 rounded-lg p-4 no-underline items-center text-neutral-800 dark:text-neutral-200 hover:dark:bg-neutral-900 hover:bg-neutral-100 transition-all justify-between">
          <div class="flex items-center">
            <TwitterIcon />
            <div class="ml-3">Twitter</div>
          </div>
          <ArrowIcon />
        </a>
        <a
          rel="noopener noreferrer"
          target="_blank"
          href="https://github.com/syedmuzamilm"
          class="flex w-full border border-neutral-200 dark:border-neutral-800 rounded-lg p-4 no-underline items-center text-neutral-800 dark:text-neutral-200 hover:dark:bg-neutral-900 hover:bg-neutral-100 transition-all justify-between">
          <div class="flex items-center">
            <GitHubIcon />
            <div class="ml-3">GitHub</div>
          </div>
          <ArrowIcon />
        </a>
        <a
          rel="noopener noreferrer"
          target="_blank"
          href="https://www.linkedin.com/in/syedmuzamilm/"
          class="flex w-full border border-neutral-200 dark:border-neutral-800 rounded-lg p-4 no-underline items-center text-neutral-800 dark:text-neutral-200 hover:dark:bg-neutral-900 hover:bg-neutral-100 transition-all justify-between">
          <div class="flex items-center">
            <LinkedinIcon />
            <div class="ml-3">LinkedIn</div>
          </div>
          <ArrowIcon />
        </a>
      </div>
      <div class="mt-8">
        <Link href="/contact" style="primary">Get in touch</Link>
      </div>
    </div>
  </Container>
</Layout>
