---
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar.astro";
import "@fontsource/inter/variable.css";
import { checkImageUrl } from "@utils/all";
import { SEO } from "astro-seo";

export interface Props {
  title?: string;
  desc?: string;
  ogimage?: string;
  keywords?: string[];
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const {
  title,
  desc,
  ogimage = "https://assets.blackkalu.com/blackkalu/black_kalu_social_share.png",
  keywords,
} = Astro.props;

const resolvedOGImage = checkImageUrl(ogimage, Astro.site);

const makeTitle = title
  ? title + " | " + "Black Kalu"
  : "Black Kalu - We discuss everything related to software engineering";

const makeKeyWords = keywords
  ? keywords.join(", ")
  : "software eningeering, dsa, data structures, algorithms, reactjs, react, nextjs, aws, s3, ec2, blog";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/png"
      href="https://assets.blackkalu.com/blackkalu/logo"
    />
    <meta name="generator" content={Astro.generator} />
    <meta name="keywords" content={makeKeyWords} />
    <SEO
      title={makeTitle}
      description={desc ||
        "Every day, you learn something new about software engineering at Black Kalu"}
      canonical={canonicalURL}
      twitter={{
        creator: "@syedmuzamilm",
        site: "@syedmuzmailm",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Black Kalu - We discuss everything related to software engineering.`,
          image: resolvedOGImage,
        },
        image: {
          alt: "Black Kalu OG Image",
        },
      }}
    />

    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-MQDZ1V0F25"
    ></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-MQDZ1V0F25");
    </script>
    <!-- End Google tag (gtag.js) -->
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
